<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BetfairConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BetfairConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <BetfairConsole.Properties.Settings>
            <setting name="Content" serializeAs="String">
                <value>application/x-www-form-urlencoded</value>
            </setting>
            <setting name="LoginParams" serializeAs="String">
                <value>api/certlogin</value>
            </setting>
            <setting name="BetFairLoginUri" serializeAs="String">
                <value>https://identitysso.betfair.com</value>
            </setting>
            <setting name="MarketCatalogueMethod" serializeAs="String">
                <value>SportsAPING/v1.0/listMarketCatalogue</value>
            </setting>
            <setting name="JsonVersion" serializeAs="String">
                <value>2.0</value>
            </setting>
            <setting name="RpcParam" serializeAs="String">
                <value>exchange/betting/json-rpc/v1</value>
            </setting>
            <setting name="PlaceOrderMethod" serializeAs="String">
                <value>SportsAPING/v1.0/placeOrders</value>
            </setting>
        </BetfairConsole.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <BetfairConsole.Properties.Settings>
      <setting name="XApplication" serializeAs="String">
        <value>xwasGHe05JelSOFq</value>
      </setting>
      <setting name="username" serializeAs="String">
        <value>robblankson@gmail.com</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value>Royale01</value>
      </setting>
      <setting name="CertPath" serializeAs="String">
        <value>..\..\Cert\client-2048.p12</value>
      </setting>
      <setting name="BetFairExchangeUri" serializeAs="String">
        <value>https://api.betfair.com</value>
      </setting>
      <setting name="MarketBookMethod" serializeAs="String">
        <value>SportsAPING/v1.0/listMarketBook</value>
      </setting>
      <setting name="XApplicationDelay" serializeAs="String">
        <value>TRpyYtvA9x7CLnp2</value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
    </BetfairConsole.Properties.Settings>
  </userSettings>
</configuration>